/* .react-datepicker__input-container input,
.react-datepicker__input-container,
.react-datepicker-wrapper {
  display: block;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0.25px solid rgb(206, 212, 218);
  height: 29px;
}

.react-datepicker__input-container input:focus {
  outline: none;
} */

.date-picker {
  width: 100% !important;
  display: block;
}

.form-group label {
  display: block;
}
